@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --background-color: #f3e6d8;


    --font-color-01: #854632;
    --font-color-02: #5f574e;
    --font-color-03: #302d2c;

    --border-color: #e4ded8;

    --article-font-color-01: #7b284f;
    --article-background-color: #fff5fa;

    --font-family-reset: Arial, sans-serif;
    --font-family-01: 'Young Serif', sans-serif;
    --font-family-02: 'Outfit', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-02), var(--font-family-reset);
    font-size: 1em;
    color: var(--font-color-02);
}

html {
    scroll-behavior: smooth;
    background-color: var(--background-color);
}

main {
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    background-color: white;
    margin: 150px auto;
    padding: 60px;
    border-radius: 20px;
}

img {
    width: 100%;
    border-radius: 20px;
}

h1, h2 {
    font-family: var(--font-family-01);
    font-weight: 400;
}

h1 {
    font-size: 4.5em;
    margin-top: 20px;
    color: var(--font-color-03);
}

h2 {
    color: var(--font-color-01);
    font-size: 1.8em;
    margin-top: 15px;
    margin-bottom: 15px;
}

article {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    background-color: var(--article-background-color);
    border-radius: 20px;
}

article > h2 {
    color: var(--article-font-color-01);
    font-size: 1.4em;
    font-family: var(--font-family-02);
    font-weight: 600;
}

p {
    font-size: 1em;
    line-height: 1.5;
    
}

strong {
    color: var(--font-color-03);
}

ul, ol {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
}

li {
    padding-left: 20px;
}

hr {
    background-color: var(--border-color);
    border: none;
    height: 1px;
}

#preparation_time > li::before {
    margin-right: 50px;
}

#preparation_time > li::marker{
    color: var(--article-font-color-01);
}

#ingredients > li::marker {
    color: var(--font-color-01);
}

#instructions > li::marker {
    color: var(--font-color-01);
    font-weight: 700;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border-bottom: 1px solid var(--border-color);
    padding: 15px;
}

td.item {
    padding-left: 30px;
}

.value {
    color: var(--font-color-01);
    font-weight: 700;
}


footer {
    width: 100%;
    text-align: center;
}

footer > a {
    color: var(--font-color-01);
    text-decoration: none;
    font-size: 1.2em;
    transition: color .3s ease;
}

footer > a:hover {
    color: white;
}


